#input_container {
    width: 100px;
}
#input_field {
    margin-bottom: 5px;
}

#tables {
    overflow: hidden;
}

table {
    border: solid gray;
    float: left;
    margin: 15px;
    border-collapse: collapse;
}

th, td {
    border: solid gray 1px;
}
